---
layout: default
---



        <!-- About US Start -->
        <div class="about-area">
            <div class="container">
                   <div class="row">
                        <div class="col-lg-8">
                            <!-- Trending Tittle -->
                                    <div class="about-right mb-90">
                                        <div class="about-img">
                                            <img src="{{ page.image }}" alt="">
                                        </div>
                                        <div class="about-prea">
                                            <p class="about-pera1 mb-25">{{ content }}</p>
                                        </div>
                                    </div>
                        </div>
                        <!-- 右側側欄廣告區 -->
        <div class="col-lg-4">
          <div class="position-sticky" style="top: 20px;">

            <!-- Google 廣告開始 -->
            <div class="mb-4">
              <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5336208084094672"
                crossorigin="anonymous"></script>
              <ins class="adsbygoogle"
                style="display:inline-block;width:240px;height:728px"
                data-ad-client="ca-pub-5336208084094672"
                data-ad-slot="3219557643"></ins>
              <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
              </script>
            </div>
            <!-- Google 廣告結束 -->
        
            <!-- 額外推薦或電子報 -->
            <!-- <div class="p-3 bg-light rounded shadow-sm">
              <h6>加入我們</h6>
              <p class="mb-0">訂閱電子報獲得最新消息</p>
            </div> -->
          </div>
        </div>
                   </div>
            </div>
        </div>
        <!-- About US End -->